<div class="logo">
    <img src="assets/logo/logo.png" alt="logo">
</div>

<div class="container my-4">
    <div class="titulo">
        <h1>REGISTRATE</h1>
    </div>
</div>

<div class="container my-4">
    <div class="row col-12 col-md-4">
        <div class="texto">
            <p>A continuación te pediremos unos datos para poderte registrar, y asi podras recibir nuevas comparaciones, y las ultimas noticias.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row col-12">

        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputNombre" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="NombreHelp" placeholder="Oscar Andres" required>
                    <div id="NombreHelp" class="form-text">Nunca compartiremos tus datos con nadie.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputApellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="ApellidoHelp" placeholder="Vasquez Leon" required>
                    <div id="ApellidoHelp" class="form-text">Nunca compartiremos tus datos con nadie.</div>
                </div>
            </form>
        </div>

        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputNumero" class="form-label">Numero de contacto</label>
                    <input type="number" class="form-control" id="exampleInputNumero" aria-describedby="numlHelp" placeholder="3211234567">
                    <div id="numlHelp" class="form-text">Este campo es opcional.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Dirección Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="comparamotos@correo.com">
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie.</div>
                </div>
            </form>
        </div>

        <div class="col">
            <form>
                <div class="mb-3 form-check">
                    <div class="preferencias">
                        <h2>Escoge tus preferencias, y dale registrate.</h2>
                    </div>

                    <div class="row col-12">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Bajo CC</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Medio CC</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Alto CC</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="button">
                    <button type="submit" class="btn btn-dark">Registrate</button>
                </div>
            </form>
        </div>

    </div>
</div>